certifi==2018.10.15
chardet==3.0.4
Click==7.0
idna==2.7
lbry-uploader==0.3
numpy==1.22.0
pandas==0.23.4
pybry==1.6.4
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
six==1.11.0
slugify==0.0.1
tinydb==3.11.1
urllib3==1.23
